.overflow-fix {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.toasted.toasted-primary {
  @apply shadow-md border font-bold;
}

.toasted.toasted-primary.success {
  @apply text-gray-800;
  background: theme('colors.primary.500') !important;
}

.toasted.toasted-primary.error {
  @apply text-red-900;
  background: theme('colors.red.500') !important;
}

.toasted-container .toasted.default .action.text-primary-500 {
  @apply text-primary-500 font-bold;
}

.toasted-container .toasted.default .action.text-red-500 {
  @apply text-red-500 font-bold;
}

.toasted-container .toasted.default .action.text-gray-300 {
  @apply text-gray-300 font-bold;
}

.bg-gradient-300 {
  background-color: rgba(181, 187, 202, 0.03);
}

.bg-gradient-200 {
  background-color: rgba(176, 187, 202, 0.08) !important;
}

nav {
  a.is-active {
    @apply bg-gray-950 font-semibold;
  }
}

.spinner {
  @apply block mx-auto w-6 h-6 bg-transparent border-4 rounded-full top-0 left-0 border-transparent;
  border-top-color: theme('colors.white');
  animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
