.overflow-fix {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.toasted.bubble {
  @apply shadow-md border;
}

.toasted.bubble.error {
  @apply text-gray-800 font-bold;
  background: theme('colors.red.500') !important;
}

.toasted.bubble.info {
  @apply text-gray-500 shadow-md;
  background: theme('colors.gray.700') !important;

  .action {
    @apply font-bold;
  }

  .text-primary-500 {
    color: theme('colors.primary.500') !important;
  }
}

.toasted.bubble.success {
  @apply text-gray-800 font-bold;
  background: theme('colors.primary.500') !important;
}

.toasted.bubble.default {
  @apply text-gray-200 shadow-sm;
  background: theme('colors.gray.600') !important;
}

.toasted-container .toasted.default .action.text-primary-500 {
  @apply text-primary-500 font-bold;
}

.toasted-container .toasted.default .action.text-red-500 {
  @apply text-red-500 font-bold;
}

.toasted-container .toasted.default .action.text-gray-300 {
  @apply text-gray-300 font-bold;
}

.bg-gradient-300 {
  background-color: rgba(181, 187, 202, 0.03);
}

.bg-gradient-200 {
  background-color: rgba(176, 187, 202, 0.08) !important;
}

nav {
  a.is-active {
    @apply bg-gray-950 font-semibold;
  }
}
